<div class="container mt-5 pt-4 bg-info" id="main">
    <div class="show-stars d-flex flex-row-reverse">    
        <div *ngIf = "ratingFromChild!=-1" id="showrating">
            <span>Rating: </span>
            <span *ngFor ="let i of filledStars"><i class="fa fa-star filled"></i></span>
            <span *ngFor ="let i of emptyStars"><i class="fa fa-star"></i></span>
        </div>
    </div>
   
    <h2 class="heding text-center" >Student Form</h2>  
    <div class="container" [formGroup] = "studentForm">            
        <div class="row mt-4">
            <div class="sub-grp col-md-12">
                <label for="name">Enter Your Full Name </label>                
                <input type="text" name="firstName" formControlName = "name" id="name" class="form-control ">
                <div *ngIf = "studentForm.controls['name'].touched &&  studentForm.controls['name'].errors">
                    <p *ngIf = "studentForm.controls['name'].errors.required " class="errormsg">Please Enter your Name</p>
                    <p *ngIf = "studentForm.controls['name'].errors.minlength" class="errormsg">Name is minimum 3 characters</p>
                </div>                
            </div>                
        </div>
        <div class="row mt-4">
            <div class="sub-grp col-md-12 mob">
                <label for="name">Enter Your  Mobile Number </label>
                <input type="number" name="mobile"id="mobile"  formControlName = "mobile" class="form-control "><br>
                <div *ngIf = "studentForm.controls['mobile'].touched && studentForm.controls['mobile'].errors">
                    <p *ngIf = "studentForm.controls['mobile'].errors.required" class="errormsg">Please Enter your Mobile Number</p>                        
                    <p *ngIf = "studentForm.controls['mobile'].errors.minlength || studentForm.controls['mobile'].errors.maxlength" class="errormsg">Enter valid Mobile Number</p>
                </div>                
            </div>           
        </div>
        <div class="row mx-auto mt-3"  id="gender">
            <div class="col-md-3"> <label for="name">Gender </label></div>                      
            <div class="col-md-3">
                <input type="radio"  class="gender"  formControlName = "gender" value="Male" ><span class="gen radio-text">Male</span>
            </div>
            <div class="col-md-3">
                <input type="radio"class="gender"  formControlName = "gender" value="Female" ><span class="gen radio-text"> Female</span>
            </div>
            <div class="col-md-3">
                <input type="radio"  class="gender"  formControlName = "gender"  value="other"> <span class="gen radio-text"> other</span><br>
            </div>
            <div *ngIf = "studentForm.controls['gender'].touched &&studentForm.controls['gender'].invalid">
                <p class="errormsg">Please Select gender</p>                  
            </div>
        </div>
        <div class="row mt-4">
            <div class="sub-grp col-md-12 mob">
                <app-student-rating (sendRating) ="getRating($event)"></app-student-rating>
            </div>           
        </div>
        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-secondary form-control" [disabled] ="studentForm.invalid || ratingFromChild==-1"(click)="postData()">{{btnName}}</button>
            </div>
        </div>
        <div class="extra"></div>
       
    </div>
</div>
         
        