
<div class="container mt-5 pt-1" >
    <div *ngIf = "notification != null" class="text-center text-info"><h3>{{notification}}</h3></div>
    <div id="data">
        <div class="card mt-2 p-2 text-white list-head">
            <div class="row">
                <div class="col col-md-2">Id</div>
                <div class="col col-md-4">Name</div>
                <div class="col col-md-4">Mobile Number</div>
                <div class="col col-md-2">Rating</div>
            </div>        
        </div>
        <div>{{message}}</div>
        <div *ngFor = "let s of Students">
            <app-student-card [student] = s  (click)= "updateSelectedChild(s.id)"></app-student-card>
        </div><!--[clickedId] = {{selectedChildId}}-->
    </div>   
</div>
